<nav class="navbar navbar-dark navbar-expand-lg bg-primary d-flex text-capitalize text-center justify-content-center">
    <div class="navbar-brand col-sm-12 col-md-12 col-lg-1"><span>navigation tarik</span></div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item col-sm-4 col-md-4 col-lg-6 align-self-center bg-dark rounded mr-2">
            <a class="nav-link active" routerLink="/menuAdmin">menu Admin</a>
        </li>
        <li class="nav-item align-self-center col-sm-4 col-md-4 col-lg-6 bg-dark rounded mr-2">
            <a class="nav-link active" routerLink="/menuGarageOwner">menu garagiste</a>
        </li>
        <li class="nav-item align-self-center col-sm-4 col-md-4 col-lg-6 bg-dark rounded mr-2">
            <a class="nav-link active" routerLink="/visitor">menu visitor</a>
        </li>
    </ul>
</nav>
