<nav class="navbar navbar-dark navbar-expand-lg bg-primary d-flex text-capitalize text-center justify-content-center p-1">
    <div class="navbar-brand"><span>navigation tarik</span></div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item align-self-center bg-dark rounded mr-2">
            <a class="nav-link active" routerLink="/menuAdmin">menu Admin</a>
        </li>
        <li class="nav-item align-self-center bg-dark rounded mr-2">
            <a class="nav-link active" routerLink="/menuGarageOwner">menu garagiste</a>
        </li>
        <li class="nav-item align-self-center bg-dark rounded mr-2">
            <a class="nav-link active" routerLink="/visitor">menu visitor</a>
        </li>
    </ul>
</nav>
