<app-menu-garage-owner></app-menu-garage-owner>
<div class="bg-light text-secondary p-0">
    <h5 class="text-uppercase text-light text-center bg-primary p-0">ajouter une annonce</h5>
    <form class="d-flex p-2" (submit)="submitAdvert()" #advertForm ="ngForm">
        <div class="form-group col">
            <label for="reference">réference</label>
            <input class='form-control' value={{key}} type="text" id="reference" name="reference" #advertForm='ngModel' [(ngModel)]='advert.reference'>
    
            <label for="description">description</label>
            <textarea class='form-control' rows="6" type="text" name="description" #advertForm='ngModel' required [(ngModel)]='advert.description'></textarea>
            
            <label for="fuelType">type de carburant</label>
            <select class="custom-select" name="fuelType" id="fuelType" required #advertForm ="ngModel" [(ngModel)]="advert.fuelType">
                <option *ngFor="let item of fuelTypeList" [value]="item">{{item}}</option>
            </select>


            <label for="price">prix</label>
            <input class='form-control col-2' type="number" name="price" #advertForm='ngModel' min="1000" required [(ngModel)]='advert.price'>
        </div>
        <div class="form-group col">
            <label for="mileage">kilométrage</label>
            <input class='form-control' type="number" name="mileage" #advertForm='ngModel' required [(ngModel)]='advert.mileage'>
            <div class="d-flex justify-content-between">
                <div class="col-5 p-0">
                    <label for="publicationDate">date de publication</label>
                    <input class='form-control' type="date" name="publicationDate" #advertForm='ngModel' required [(ngModel)]='advert.publicationDate'>
                </div>
                <div class="col-6 p-0">
                    <label for="releaseYear">année de sortie</label>
                    <input class='form-control' type="date" name="releaseYear" #advertForm='ngModel' required [(ngModel)]='advert.releaseYear'>
                </div>    

            </div>

            <label for="picture">picture</label>
            <input type="file" class='form-control p-1' id='picture' name='picture' [(ngModel)]='advert.picture' #advertForm ='ngModel'/>
    
            <label for="carModel">modèle de voiture</label>
            <select class="custom-select" name="carModel" id="carModel" required #advertForm ="ngModel" [(ngModel)]="advert.carModel">
                <option *ngFor="let item of carModelList" [value]="item.id">{{item.modelName}}</option>
            </select>

            <label for="garage">garage</label>
            <select class="custom-select" name="garage" id="garage" required #advertForm ="ngModel" [(ngModel)]="advert.garage">
                <option *ngFor="let item of garageList" [value]="item.id">{{item.garageName}}</option>
            </select>
    
            <!-- <label class="text-white" for="user"></label>
            <input class='form-control col-4' type="text" name="user" #garageForm='ngModel' required [(ngModel)]='garage.user.username'> -->
            
            <div *ngIf='!advertForm.valid' class="text-primary"><span>merci de remplir tous les champs ci-dessus</span></div>
    
            <input class="mt-2"type="submit" value="ajouter" [disabled]='!advertForm.valid'>
        </div>
    </form>
</div>