<ng-container *ngIf="!isLoading">
    <app-menu-admin></app-menu-admin>
    <div class="">
        <h5 class="text-uppercase bg-light text-center m-0 p-0">all brands : <b class="magentaWrite">{{brands.length }}</b> in database</h5>
        <table class="table table-sm text-uppercase">
            <thead>
                <tr>
                    <th class='col-1'>brand id</th>
                    <th>brand label</th>
                    <th class='col-1'>brand logo</th>
                </tr>
            </thead>
            <tbody class="">
                <tr *ngFor="let item of brands">
                    <td class='bg-light'>{{ item.id }}</td>
                    <td>{{ item.brandLabel }}</td>
                    <td class='text-center bg-light p-0'><img width='20%' src="../../../assets/{{ item.brandLogo }}" alt=""></td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>
<ng-container *ngIf="isLoading">
    <div class="bg-dark justify-content-center d-flex" style='height:100vh'>
        <div class="align-self-center text-center">        
            <h6 class="text-secondary">Loading</h6>
            <div class="spinner-border text-secondary" role="status"></div>
        </div>
      </div>
</ng-container>