<ng-container *ngIf="!isLoading">
    <app-menu-admin></app-menu-admin>
    <div class="">
        <h5 class="text-uppercase text-center bg-light m-0 p-0">all users : <b class="magentaWrite">{{users.length }}</b> in database</h5>
        <table class="table table-sm text-uppercase">
        <thead>
            <tr>
                <th class='col-1'>id</th>
                <th>username</th>
                <th>roles</th>
                <th>password</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of users">
            <td class='bg-light'>{{ item.id }}</td>
            <td>{{ item.username }}</td>
            <td>{{ item.roles }}</td>
            <td>{{ item.password }}</td>
        </tr>
        </tbody>
    </table>
    </div>
</ng-container>
<ng-container *ngIf="isLoading">
  <h4>Chargement en cours</h4>
</ng-container>