<ng-container *ngIf="!isLoading">
    <app-menu-admin></app-menu-admin>
    <div class="">
        <h5 class="text-uppercase text-center bg-light m-0 p-0">all car models : <b class="magentaWrite">{{carModels.length }}</b> in database</h5>
        <table class="table table-sm text-uppercase">
        <thead>
            <tr>
                <th class='col-1'>id model</th>
                <th>modèles</th>
                <th>marque</th>
                <th class='col-1'>id brand</th>
                <th class='col-1'>logo brand</th>
            </tr>
        </thead>
        <tbody>
        <tr class='p-0 m-0' *ngFor="let item of carModels">
            <td>{{ item.id }}</td>
            <td class="">{{ item.modelName }}</td>
            <td>{{ item.brand.brandLabel }}</td>
            <td>{{ item.brand.id }}</td>
            <td class='text-center bg-light p-0'><img width='20%'src="../../../../assets/{{item.brand.brandLogo }}"alt='{{item.brand.brandLogo }}'/></td>
        </tr>
        </tbody>    
    </table>
    </div>
</ng-container>
<ng-container *ngIf="isLoading">
    <div class="bg-dark justify-content-center d-flex" style='height:100vh'>
        <div class="align-self-center text-center">        
            <h6 class="text-secondary">Loading</h6>
            <div class="spinner-border text-secondary" role="status"></div>
        </div>
      </div>
</ng-container>
