<app-temp-menu></app-temp-menu>
<nav class="navbar navbar-dark navbar-expand-lg bg-dark d-flex text-capitalize text-center justify-content-center">
    <div class="navbar-brand"><span>menu admin</span></div>
    <ul class="navbar-nav mr-auto"> 
        <li class="nav-item align-self-center bg-secondary rounded mr-2">
            <a class="nav-link active" routerLink="/adverts/list">adverts</a>
        </li>
        <li class="nav-item align-self-center bg-secondary rounded mr-2">
            <a class="nav-link" routerLink="/modelcar/list">car models</a>
        </li>
        <li class="nav-item align-self-center bg-secondary rounded mr-2">
            <a class="nav-link" routerLink="/garages/list">garages</a>
        </li>
        <li class="nav-item align-self-center bg-secondary rounded mr-2">
            <a class="nav-link" routerLink="/brands/list">brands</a>
        </li>
        <li class="nav-item align-self-center bg-secondary rounded mr-2">
            <a class="nav-link" routerLink="/users/list">users</a>
        </li>
        <li class="nav-item align-self-center bg-primary rounded mr-2">
            <a class="nav-link" routerLink="/addBrand/">add brand</a>
        </li>
        <li class="nav-item align-self-center bg-primary rounded mr-2">
            <a class="nav-link" routerLink="/addCarModel/">add carModel</a>
        </li>
    </ul>
</nav>

