<app-menu-visitor></app-menu-visitor>
<div class='d-flex' style='height:100vh;'>
    <div class="align-self-center d-flex flex-row-reverse border wallpaper container rounded p-0">
        <div class="col-4 card-body d-flex flex-column">
            <div class="d-flex border rounded mb-4">
                <h6 class='col align-self-center text-center justify-content-center m-0 p-2'>fiche détail</h6>
            </div>
            <div class="d-flex bg-light border mb-4">
                <div class="col-7 align-self-center">
                    <h6 class='p-0 m-0'>{{ advert.carModel.brand.brandLabel}} {{ advert.carModel.modelName }}</h6>
                </div>
                <div class="col p-1 align-self-center">
                    <div class="col text-center">
                        <img style="width:64%"class="border rounded align-self-center" src="../../../assets/{{advert.carModel.brand.brandLogo}}" alt="Card image cap">
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <img class="card-img border rounded-0" src="../../../assets/{{advert.picture}}" alt="{{advert.picture}}">
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-secondary border col mt-4 p-1" routerLink='/visitor'><i class="fas fa-hand-point-left"></i><br>retour</a>
            </div>
        </div>
        <div class="col card-body d-flex justify-content-between">
            <div class="col border bg-light rounded p-2 mr-1">
                <table class='table'>
                    <thead>
                        <tr>
                            <th colspan="2"><h6 class='text-center'>caractéristiques</h6></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>année</td>
                            <td class="card-text">{{advert.releaseYear | date:'yyyy' }}</td>
                        </tr>
                        <tr>
                            <td>kilométrage</td>
                            <td class="">
                                <div class="progress">
                                    <div class="progress-bar magenta text-dark small" role="progressbar" style="width:{{advert.mileage/1500}}%" aria-valuenow="" aria-valuemin="0" aria-valuemax="100000"></div>
                                  </div>
                                  <div class="small magentaWrite"><i>{{advert.mileage}} km</i></div>
                            </td>
                        </tr>
                        <tr>
                            <td>price</td>
                            <td class="card-text">{{advert.price}} €</td>
                        </tr>
                        <tr>
                            <td>date de post</td>
                            <td class="card-text">{{advert.publicationDate | date}}</td>
                        </tr>
                        <tr>
                            <td>référence</td>
                            <td class="card-text">{{advert.reference}}</td>
                        </tr>
                        <tr>
                            <td>garagiste</td>
                            <td class="card-text">{{advert.garage.user.username}}</td>
                        </tr>
                        <tr>
                            <td>garage</td>
                            <td class="card-text">{{advert.garage.garageName}}</td>
                        </tr>
                        <tr>
                            <td>release year</td>
                            <td class="card-text">{{advert.releaseYear | date:'yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6 border bg-light rounded p-2">
                <table class='table'>
                    <thead>
                        <tr>
                            <th><h6 class='text-center'>description</h6></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{advert.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        
    </div>

</div>
