<app-temp-menu></app-temp-menu>
<nav class="navbar navbar-dark navbar-expand-lg bg-dark d-flex text-capitalize text-center justify-content-center">
    <div class="navbar-brand"><span>menu GarageOwner</span></div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item align-self-center bg-secondary rounded mr-2">
            <a class="nav-link active" routerLink="#">all my adverts</a>
        </li>
        <li class="nav-item align-self-center bg-secondary rounded mr-2">
            <a class="nav-link active" routerLink="#">my profile</a>
        </li>
        <li class="nav-item align-self-center bg-primary rounded mr-2">
            <a class="nav-link" routerLink="#">all my garages</a>
        </li>
        <li class="nav-item align-self-center bg-primary rounded mr-2">
            <a class="nav-link" routerLink="/addGarage">add garage</a>
        </li>
        <li class="nav-item align-self-center bg-primary rounded mr-2">
            <a class="nav-link" routerLink="/addAdvert">add advert</a>
        </li>
    </ul>
</nav>